services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: mia-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app

  frontend:
    build:
      context: ./service/portal
      dockerfile: Dockerfile
    container_name: mia-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8080
    depends_on:
      - backend
